<h2>Chess Openings</h2>
<p>Select an opening to explore moves and variations.</p>

<input type="text" placeholder="Search openings..." class="search-box" [(ngModel)]="searchTerm" />
<div class="side-toggle">
  <button class="toggle-btn" [class.active]="filterSide === 'all'" (click)="filterSide = 'all'">
    All
  </button>

  <button class="toggle-btn" [class.active]="filterSide === 'white'" (click)="filterSide = 'white'">
    ♔ White
  </button>

  <button class="toggle-btn" [class.active]="filterSide === 'black'" (click)="filterSide = 'black'">
    ♚ Black
  </button>
</div>
<div class="openings-container">
  @for (opening of filteredOpenings(); track opening.id) {
    <mat-card
      class="opening-card"
      [ngClass]="{
        'black-card': opening.side === 'black',
        'disabled-card': !opening.variations || opening.variations.length === 0,
      }"
      [routerLink]="['/openings', opening.id]"
    >
      <div class="card-content">
        <!-- LEFT SIDE IMAGE -->
        <img class="opening-thumb" [src]="opening.imageUrl" alt="{{ opening.name }}" />

        <!-- RIGHT SIDE TEXT -->
        <div class="opening-info">
          <div class="card-title">
            {{ opening.name }}
          </div>

          <div class="card-side">
            @if (opening.side === 'white') {
              <span class="side-icon">♔</span>
            }
            @if (opening.side === 'black') {
              <span class="side-icon">♚</span>
            }
            Side: {{ opening.side }}
          </div>

          <div class="card-description">
            {{ opening.description }}
          </div>
          @if (!opening.variations || opening.variations.length === 0) {
            <div class="coming-soon">Coming Soon</div>
          }
        </div>
      </div>
    </mat-card>
  }
</div>
