<div class="dropdown-container">
  <!-- SELECTED ITEM -->
  <div class="dropdown-selected" (click)="toggle()">
    <div class="line-seq">{{ selectedIndex + 1 }}.</div>

    <div class="selected-content">
      <div class="line-name">
        {{ selectedLine?.name }}
      </div>

      <div class="tooltip" [attr.data-full]="shortMoves(selectedLine?.moves)">
        <div class="line-moves">
          {{ shortMoves(selectedLine?.moves) }}
        </div>
      </div>
    </div>

    @if (isCompleted(selectedLine?.id)) {
      <div class="completed-icon">✔</div>
    }
  </div>

  <!-- DROPDOWN LIST -->
  @if (open) {
    <div class="dropdown-list">
      @for (line of subLines; track line.id; let i = $index) {
        <div class="dropdown-item" (click)="select(line, i)">
          <div class="line-seq">{{ i + 1 }}.</div>

          <div class="item-content">
            <div class="line-name">{{ line.name }}</div>

            <div class="tooltip" [attr.data-full]="shortMoves(line.moves)">
              <div class="line-moves">{{ shortMoves(line.moves) }}</div>
            </div>
          </div>

          @if (isCompleted(line.id)) {
            <div class="completed-icon">✔</div>
          }
        </div>
      }
    </div>
  }
</div>
