<div class="dropdown-container">
  <!-- SELECTED ITEM -->
  <div class="dropdown-selected" (click)="toggle()">
    <!-- Sequence number -->
    <div class="line-seq">{{ selectedIndex + 1 }}.</div>

    <!-- Name + Moves -->
    <div class="selected-content">
      <div class="line-name">
        {{ selectedLine?.name }}
      </div>

      <div class="tooltip" [attr.data-full]="shortMoves(selectedLine?.moves)">
        <div class="line-moves">
          {{ shortMoves(selectedLine?.moves) }}
        </div>
      </div>
    </div>
  </div>

  <!-- DROPDOWN LIST -->
  @if (open) {
    <div class="dropdown-list">
      @for (line of subLines; track line.id; let i = $index) {
        <div class="dropdown-item" (click)="select(line, i)">
          <!-- Sequence number -->
          <div class="line-seq">{{ i + 1 }}.</div>

          <!-- Name + Moves -->
          <div class="item-content">
            <div class="line-name">
              {{ line.name }}
            </div>

            <div class="tooltip" [attr.data-full]="shortMoves(line.moves)">
              <div class="line-moves">
                {{ shortMoves(line.moves) }}
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
